<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.qc.bdeb.p55.smartshopplus">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".vue.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".vue.ModifierMagasinActivity" />
        <activity android:name=".vue.MagasinActivity" />
        <activity android:name=".vue.AjouterMagasinActivity" />
        <activity android:name=".vue.AjouterProduitActivity" />
        <activity android:name=".vue.ModifierProduitActivity"></activity>
    </application>

</manifest>